* { margin: 0; padding: 0; }
ul, ol { list-style: none; padding-left: 32px; }
hr { height: 0px; border-bottom: 4px solid black; margin-top: 36px; margin-bottom: 36px; width: 600px; }
h1, h2, h3, h4, h5 { x-locale-heading-primary,zillaslab,Palatino,"Palatino Linotype",x-locale-heading-secondary,serif; } h2 { margin: 16px; }
h3 { margin: 12px 0px 16px; }

main { display: flex; }

sidebar li a { font-weight: 400; color: #3f87a6; font-size: 18px; text-decoration:none; }
sidebar li a:hover { text-decoration: underline; }
sidebar { width: 200px; height: 100vh; }

section { width: 700px; height: 100vh; }

.code-title { padding: 0 4px 0 40px; background-color: #2d2d2d; color: white; font-weight: 400; }
.introduction { display: inline-block; border-left: 2px solid #377c9c; margin-top: 8px; padding: 0 4px; }
pre { background-color: #ebebeb; border-left: 4px solid #377c9c; padding: 4px; line-height: 1.4; font-family: consolas,monaco,"Andale Mono",monospace; }
.moreDetails { background-color: #e0eef4; padding: 8px; border-left: 4px solid #377c9c; border-radius: 4px; }
.moreDetails td { padding-right: 8px; }

